body{
	background-color: #d92323;
		background-image: url(https://c4.wallpaperflare.com/wallpaper/133/269/261/simple-background-blue-background-hexagon-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#logo{
	height: 30px;
	width: 30px;
}
